:root {
  --bcg-color: #151515;
  --main-color: #cb80a5;
  --scd-color: #2b1d66;

  --main-color-op: #cb80a599;
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;

  font-family: "Nunito", sans-serif;
  box-sizing: border-box;
  color: #fff;
}

*::selection {
  background-color: var(--main-color-op);
  color: #fff;
}

body {
  background: var(--main-color);
  background: linear-gradient(var(--main-color), var(--scd-color));

  display: flex;
  align-items: center;
  justify-content: center;
}

.main-container {
  background-color: var(--bcg-color);
  width: 50vw;
  height: 70vh;

  border-radius: 50px;
  box-shadow: 0 0 15px var(--scd-color);
}

.main-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  height: 100%;
  padding: 30px;
}

legend {
  text-align: center;
  font-size: 28px;
  font-weight: 800;
  letter-spacing: 1px;
}

.form-container {
  display: grid;
  gap: 20px;
}

.wrapper-field {
  display: grid;
  gap: 5px;

  font-size: 20px;
}

label {
  font-size: 18px;
  font-weight: 700;
  margin-left: 5px;
}

input {
  border: 2px solid var(--main-color);
  border-bottom-width: 3px;
  font-size: inherit;
  border-radius: 10px;
  padding: 5px;
  width: 250px;

  transition: all 0.2s ease-in-out;
}

input:hover {
  box-shadow: 0 0 3px var(--main-color) inset;
}

input:focus {
  box-shadow: 0 0 8px var(--main-color) inset;
}

input:invalid {
  border-style: dotted;
}

button {
  font-size: 20px;
  color: var(--main-color);
  font-weight: 800;
  letter-spacing: 1px;

  border: 3px solid var(--main-color);
  border-radius: 10px;

  width: 250px;
  padding: 7px 0;

  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

button:hover {
  color: var(--bcg-color);
  background-color: var(--main-color);
}

button:active {
  opacity: 0.6;
}
