:root {
  --bcg-color: #151515;
  --main-color: #cb80a5;
  --scd-color: #2b1d66;

  --main-color-op: #cb80a599;
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;

  font-family: "Nunito", sans-serif;
  box-sizing: border-box;
  color: #fff;
}

*::selection {
  background-color: var(--main-color-op);
  color: #fff;
}

body {
  background: var(--main-color);
  background: linear-gradient(var(--main-color), var(--scd-color));

  display: flex;
  align-items: center;
  justify-content: center;
}

.main-container {
  background-color: var(--bcg-color);
  width: 50vw;
  height: 70vh;

  border-radius: 50px;
  box-shadow: 0 0 15px var(--scd-color);
}

.main-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  height: 100%;
  padding: 30px;
}

legend {
  text-align: center;
  font-size: 28px;
  font-weight: 800;
  letter-spacing: 1px;
}

.form-container {
  display: grid;
  gap: 20px;
}

.wrapper-field {
  position: relative;
  display: grid;
  gap: 5px;

  font-size: 20px;
}

label {
  font-size: 18px;
  font-weight: 700;
  margin-left: 5px;
}

input,
.drop-btn {
  box-sizing: border-box;
  border: 2px solid var(--main-color);
  border-bottom-width: 3px;
  font-size: inherit;
  border-radius: 10px;
  padding: 5px;
  width: 250px;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  transition: all 0.2s ease-in-out;
}

input:hover {
  box-shadow: 0 0 3px var(--main-color) inset;
}

input:focus {
  box-shadow: 0 0 8px var(--main-color) inset;
}

input:invalid {
  border-style: dotted;
}

button {
  font-size: 20px;
  color: var(--main-color);
  font-weight: 800;
  letter-spacing: 1px;

  border: 3px solid var(--main-color);
  border-radius: 10px;

  width: 250px;
  padding: 7px 0;

  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

button:hover {
  color: var(--bcg-color);
  background-color: var(--main-color);
}

button:active {
  opacity: 0.6;
}

._pop-on {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.popup {
  position: absolute;
  z-index: 10;
  top: calc(100% - 3px);

  font-size: 18px;

  width: 100%;
  padding: 10px;

  border: 2px dotted var(--main-color);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: var(--bcg-color);
}

.popup-ok {
  border-style: solid;
}

select {
  display: none;
}

.custom-select {
  position: relative;
}

.drop-btn {
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.drop-btn._active {
  background-color: var(--main-color);
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.drop-btn:hover {
  background-color: var(--main-color);
}

.drop-content {
  display: none;
  position: absolute;
  z-index: 15;
  top: calc(100% - 3px);

  width: 100%;
  border: 2px solid var(--main-color);
  background-color: var(--bcg-color);

  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.drop-option {
  border-bottom: 2px solid var(--main-color);
  padding: 5px;

  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.drop-option:hover {
  box-shadow: 0 0 10px var(--main-color) inset;
}

.drop-option:active,
.drop-btn:active {
  opacity: 0.2;
}

.drop-option._selected {
  background-color: var(--main-color-op);
  pointer-events: none;
}
